<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="iHMS base package Test Suite">
            <directory>./iHMSTest</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>disabled</group>
            <group>skipped</group>
        </exclude>
    </groups>
</phpunit>
